In [127]:
# You need to fill this with your own api key to enable the below codes to make api call
my_key = {
    'app_key':'',
    'app_secret':'',
    'oauth_token':'',
    'oauth_token_secret':''
}

In [3]:
# Run this to make sure you have tweepy installed in your environment
!pip install tweepy

Collecting tweepy
  Downloading https://files.pythonhosted.org/packages/d5/5f/daac4b4e9b30d7d2a6fdd16a880ff79f27918fe388e4dfc1983dec3a9876/tweepy-3.7.0-py2.py3-none-any.whl
Collecting requests-oauthlib>=0.7.0 (from tweepy)
  Downloading https://files.pythonhosted.org/packages/c2/e2/9fd03d55ffb70fe51f587f20bcf407a6927eb121de86928b34d162f0b1ac/requests_oauthlib-1.2.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.10.0 in /home/rahul/anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: PySocks>=1.5.7 in /home/rahul/anaconda3/lib/python3.7/site-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests>=2.11.1 in /home/rahul/anaconda3/lib/python3.7/site-packages (from tweepy) (2.21.0)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->tweepy)
  Downloading https://files.pythonhosted.org/packages/16/95/699466b05b72b94a41f662dc9edf87fda4289e3602ecd42d27fcaddf7b56/oauthlib-3.0.1-py2.py3-none-any.whl (142kB)
    100% |████████████████████████████████| 143kB 498kB/s ta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /home/rahul/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/rahul/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/rahul/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/rahul/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.0.1 requests-oauthlib-1.2.0 tweepy-3.7.0

# Main Code

### Importing the libraries

All the libraries needed are imported here 

**tweepy** => the library used for accessing the twitter API

**numpy and pandas** => making the data in a presentable format and exporting to csv

In [128]:
import tweepy
from tweepy import OAuthHandler

import numpy as np
import pandas as pd

Now we need to attach our api key with each request we make with tweepy. For this we make a auth object which help the api for the authorization and then set up tweepy to use the auth object for every request.

The final object twitterAPI is our entry point to the twitter API using tweepy

In [129]:
# Here I am creating the auth object
auth = OAuthHandler(my_key['app_key'], my_key['app_secret'])
auth.set_access_token(my_key['oauth_token'], my_key['oauth_token_secret'])

# Linking the auth object with tweepy
twitterAPI = tweepy.API(auth)

##### getAllTweets Function
The Function **getAllTweets** take in the screen name(Default = 'midasIIITD'). 

Then it gets one tweet to intiate the loop. It then keeps querying for older tweets until the tweets are exhausted. This way we finally get all the tweets in a list called alltweets which we finally return

In [141]:
def getAllTweets(screenName = 'midasIIITD'):
    alltweets = []
    
    # Getting only 1 tweet to initiate the connection and to have atleast one element in alltweets
    tweets = twitterAPI.user_timeline(screen_name = screenName, exclude_replies = True, count = 1)
    # Adding it to alltweets
    alltweets.extend(tweets)
        
    #save the id of the oldest tweet(currently the only tweet if any)
    oldest = alltweets[-1].id - 1
    
    # While we are able to find any older tweet
    while len(tweets) > 0:
        # Getting next 200 tweets as max tweet that can be queried is 200, 
        # also we need older than the id stored in oldest
        tweets = twitterAPI.user_timeline(screen_name = screenName,count=200,max_id=oldest)
        
        # add them to alltweets
        alltweets.extend(tweets)
        # updating oldtweets to prepare for next iteration
        oldest = alltweets[-1].id - 1
    
    return alltweets

##### extractAllDataFromTweetList Function
The Function **extractAllDataFromTweetList** take in the tweet list as input parameter

Then it gets one by one through all the tweets and removes all retweeted tweets and replies. Then it counts if any media file is present. Finally it adds all the desired data from current tweet into **data** object and adds it to tweet_data

It returns tweet_data a list of desrired data from all the fields

In [150]:
def extractAllDataFromTweetList(tweet_list):
    # Beginning with a empty list
    tweet_data = []
    
    #Going through each tweet
    for tweet in tweet_list:
        # Removing any retweets
        if (not tweet.retweeted) and ('RT @' not in tweet.text):
            # Removing any replies in the list
            if tweet.in_reply_to_status_id is None:
                
                # In the try block we are accessing the entities with tag media. 
                try:
                    count = 0
                    for medium in tweet.entities['media']:
                        # If it is an photo type then increment count
                        if medium['type'] == 'photo':
                            count += 1
                
                    # If count is 0 update to None as given in question
                    if(count == 0):
                          count = None
                except:
                    # If there was an exception accessing entities or media 
                    # we land here and set count to be None
                    count = None
                
                finally:
                    # Finally we append all the data in a list object called data
                    data = [tweet.text, 
                            tweet.created_at.date(), 
                            tweet.created_at.time(), 
                            tweet.favorite_count, 
                            tweet.retweet_count, 
                            count]
                    # Append it to tweet_data which is used to store all the tweets data in a list
                    tweet_data.append(data)
    
    
    return tweet_data

In [143]:
# call getAllTweets using default value midasIIITD for screenName in getAllTweets
all_tweets = getAllTweets()

In [148]:
# call extractAllDataFromTweetList to get the list of infromation extracted from the tweets list
tweets_data = extractAllDataFromTweetList(all_tweets)

In [151]:
# Converting the list to a dataframe
tweets_data_frame = pd.DataFrame(np.array(tweets_data), columns=['Text', 'Date', 'Time', 'Favorite Count', 'Retweets Count', 'No of Images'])

In [152]:
# Visualising the result
tweets_data_frame

,Text,Date,Time,Favorite Count,Retweets Count,No of Images
0,"Many Congratulations to @midasIIITD student, S...",2019-04-08,07:08:12,13,2,None
1,@midasIIITD thanks all students who have appea...,2019-04-08,03:27:42,5,0,None
2,We request all students whose interview are sc...,2019-04-07,11:43:24,1,1,None
3,"Other queries: ""none of the Tweeter Apis give ...",2019-04-07,06:55:19,5,2,None
4,"Other queries: ""do we have to make two differe...",2019-04-07,06:53:38,4,1,None
5,"Other queries: ""If using Twitter api, it does ...",2019-04-07,05:32:27,6,1,None
6,Response to some queries asked by students on ...,2019-04-07,05:29:40,7,1,None
7,We have emailed the task details to all candid...,2019-04-05,16:08:37,11,1,None
8,Dear @midasIIITD internship candidates who hav...,2019-04-02,04:20:13,8,1,None
9,Looking forward to your paper submission to @I...,2019-04-02,02:44:54,5,1,None
10,Online application for https://t.co/DJFDrQsHZP...,2019-04-01,06:53:08,7,2,None
11,"Congratulations! @midasIIITD team, @isarth23 @...",2019-03-29,17:02:24,9,1,None
12,Dr. Vineeth N Balasubramanian will present a T...,2019-03-27,16:09:09,4,1,None
13,Thanks to all shortlisted candidates for submi...,2019-03-26,18:12:27,5,1,None
14,Congratulations @midasIIITD students Simra Sha...,2019-03-25,13:01:57,18,1,None
15,The last date for submitting a solution for th...,2019-03-24,18:44:01,8,3,None
16,@IEEEBigMM19 is also available on Facebook now...,2019-03-20,08:19:24,1,1,None
17,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,2019-03-18,02:27:47,6,3,None
18,"Congratulations @midasIIITD team, Rohan, Prady...",2019-03-17,14:22:04,15,4,None
19,We have emailed the task details to all shortl...,2019-03-16,14:06:56,7,0,None
20,IEEE BigMM 2019 - Call for Workshop Proposals....,2019-03-16,09:20:29,2,1,None
21,"Congratulations! Arijit, Ramit, @debanjanbhucs...",2019-03-16,09:14:58,7,2,None
22,We will be releasing a very interesting task t...,2019-03-16,05:13:14,7,2,None
23,Awesome members of our @midasIIITD team who ar...,2019-03-12,14:37:55,16,4,None
24,We are glad to inform that Adobe is launching ...,2019-03-11,12:02:42,4,0,None
25,We are in the process of finalizing the shortl...,2019-03-08,13:15:34,8,4,None
26,"At @midasIIITD, we not only work hard but also...",2019-03-03,15:37:28,9,1,None
27,Considering several requests to extend the dea...,2019-03-03,14:55:31,6,2,None
28,Thanks much to all aspirants who have applied ...,2019-03-02,09:59:03,7,1,None
29,@IIITDelhi has initiated PhD Admission 2019 pr...,2019-02-21,06:39:27,2,1,None
...,...,...,...,...,...,...
87,"Paper titled, ""Exploring and Learning Suicidal...",2018-09-04,16:19:56,5,1,None
88,The fourth paper (and 3rd of @punnibhai) got a...,2018-09-04,16:16:37,3,1,None
89,If you are holding Junior Research Fellowship ...,2018-08-31,05:28:31,3,3,None
90,@BloodDonorsIn you may call us at 01126907495 ...,2018-08-30,09:28:48,0,0,None
91,"Congratulations @midasIIITD PI, @RatnRajiv, on...",2018-08-28,13:56:15,7,0,None
92,"""Did you offend me? Classification of Offensiv...",2018-08-23,14:48:45,6,1,None
93,"Congratulations @midasIIITD interns, @punnibha...",2018-08-23,09:01:29,7,2,None
94,https://t.co/GOyrocgXf4,2018-08-23,07:19:47,8,1,1
95,TCS Foundation inaugurated Centre for Design a...,2018-08-23,07:17:40,8,3,None
96,Congratulations all @midasIIITD interns for yo...,2018-08-23,03:34:39,4,2,None
97,Team @midasIIITD looking forward to with CDNM....,2018-08-22,12:53:38,4,1,None
98,"Our paper titled, ""IceBreaker: Solving Cold St...",2018-08-20,04:32:09,3,1,None
99,"Our paper titled, ""Neural Machine Translation ...",2018-08-19,09:19:12,9,0,None
100,Congratulations @midasIIITD @IIITDelhi interns...,2018-08-16,04:30:12,7,3,None
101,"Very interesting! We at @midasIIITD, also doin...",2018-08-12,15:07:30,3,1,None
102,NLP's ImageNet moment has arrived » https://t....,2018-08-12,04:29:38,2,0,None
103,@midasIIITD is looking for motivated IIITD MTe...,2018-08-08,11:30:56,2,1,None
104,Check more details of the 20th IEEE Internatio...,2018-08-07,02:05:12,1,1,None
105,MR2AMC@ISM 2018 will be organized by @RatnRaji...,2018-08-07,01:58:49,1,1,None
106,"Our workshop proposal named, ""MR2AMC: Multimod...",2018-08-07,01:50:33,1,1,None
107,Congratulation @soujanyaporia for being appoin...,2018-08-03,05:56:33,6,1,None
108,Have a look at the list of accepted papers in ...,2018-07-31,12:11:52,1,0,None
109,Get ready for the annual technical fest of @II...,2018-07-27,06:46:44,3,2,None
110,Congratulations Dr. @RatnRajiv and team @midas...,2018-07-27,04:07:31,8,2,None
111,Congratulations MIDAS @midasIIITD intern Prakh...,2018-07-25,05:14:35,5,1,None
112,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2018-07-24,10:33:23,2,1,None
113,It feels great to be the part of @IIITDelhi. h...,2018-07-24,10:12:34,2,1,None
114,"Thank you, @toonzratn for designing the logo o...",2018-07-24,09:46:26,4,1,1
115,We are on Facebook too. Like our page to get o...,2018-07-23,16:25:05,3,1,None
116,MIDAS is a group of researchers at IIIT-Delhi ...,2018-07-23,12:53:15,7,4,None

In [155]:
# Write the data frame to a csv file
tweets_data_frame.to_csv('midasIIITD_Tweets.csv', index = False)

In [156]:
# Check if reading the csv gives same output
pd.read_csv('midasIIITD_Tweets')

,Text,Date,Time,Favorite Count,Retweets Count,No of Images
0,"Many Congratulations to @midasIIITD student, S...",2019-04-08,07:08:12,13,2,NaN
1,@midasIIITD thanks all students who have appea...,2019-04-08,03:27:42,5,0,NaN
2,We request all students whose interview are sc...,2019-04-07,11:43:24,1,1,NaN
3,"Other queries: ""none of the Tweeter Apis give ...",2019-04-07,06:55:19,5,2,NaN
4,"Other queries: ""do we have to make two differe...",2019-04-07,06:53:38,4,1,NaN
5,"Other queries: ""If using Twitter api, it does ...",2019-04-07,05:32:27,6,1,NaN
6,Response to some queries asked by students on ...,2019-04-07,05:29:40,7,1,NaN
7,We have emailed the task details to all candid...,2019-04-05,16:08:37,11,1,NaN
8,Dear @midasIIITD internship candidates who hav...,2019-04-02,04:20:13,8,1,NaN
9,Looking forward to your paper submission to @I...,2019-04-02,02:44:54,5,1,NaN
10,Online application for https://t.co/DJFDrQsHZP...,2019-04-01,06:53:08,7,2,NaN
11,"Congratulations! @midasIIITD team, @isarth23 @...",2019-03-29,17:02:24,9,1,NaN
12,Dr. Vineeth N Balasubramanian will present a T...,2019-03-27,16:09:09,4,1,NaN
13,Thanks to all shortlisted candidates for submi...,2019-03-26,18:12:27,5,1,NaN
14,Congratulations @midasIIITD students Simra Sha...,2019-03-25,13:01:57,18,1,NaN
15,The last date for submitting a solution for th...,2019-03-24,18:44:01,8,3,NaN
16,@IEEEBigMM19 is also available on Facebook now...,2019-03-20,08:19:24,1,1,NaN
17,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,2019-03-18,02:27:47,6,3,NaN
18,"Congratulations @midasIIITD team, Rohan, Prady...",2019-03-17,14:22:04,15,4,NaN
19,We have emailed the task details to all shortl...,2019-03-16,14:06:56,7,0,NaN
20,IEEE BigMM 2019 - Call for Workshop Proposals....,2019-03-16,09:20:29,2,1,NaN
21,"Congratulations! Arijit, Ramit, @debanjanbhucs...",2019-03-16,09:14:58,7,2,NaN
22,We will be releasing a very interesting task t...,2019-03-16,05:13:14,7,2,NaN
23,Awesome members of our @midasIIITD team who ar...,2019-03-12,14:37:55,16,4,NaN
24,We are glad to inform that Adobe is launching ...,2019-03-11,12:02:42,4,0,NaN
25,We are in the process of finalizing the shortl...,2019-03-08,13:15:34,8,4,NaN
26,"At @midasIIITD, we not only work hard but also...",2019-03-03,15:37:28,9,1,NaN
27,Considering several requests to extend the dea...,2019-03-03,14:55:31,6,2,NaN
28,Thanks much to all aspirants who have applied ...,2019-03-02,09:59:03,7,1,NaN
29,@IIITDelhi has initiated PhD Admission 2019 pr...,2019-02-21,06:39:27,2,1,NaN
...,...,...,...,...,...,...
87,"Paper titled, ""Exploring and Learning Suicidal...",2018-09-04,16:19:56,5,1,NaN
88,The fourth paper (and 3rd of @punnibhai) got a...,2018-09-04,16:16:37,3,1,NaN
89,If you are holding Junior Research Fellowship ...,2018-08-31,05:28:31,3,3,NaN
90,@BloodDonorsIn you may call us at 01126907495 ...,2018-08-30,09:28:48,0,0,NaN
91,"Congratulations @midasIIITD PI, @RatnRajiv, on...",2018-08-28,13:56:15,7,0,NaN
92,"""Did you offend me? Classification of Offensiv...",2018-08-23,14:48:45,6,1,NaN
93,"Congratulations @midasIIITD interns, @punnibha...",2018-08-23,09:01:29,7,2,NaN
94,https://t.co/GOyrocgXf4,2018-08-23,07:19:47,8,1,1.0
95,TCS Foundation inaugurated Centre for Design a...,2018-08-23,07:17:40,8,3,NaN
96,Congratulations all @midasIIITD interns for yo...,2018-08-23,03:34:39,4,2,NaN
97,Team @midasIIITD looking forward to with CDNM....,2018-08-22,12:53:38,4,1,NaN
98,"Our paper titled, ""IceBreaker: Solving Cold St...",2018-08-20,04:32:09,3,1,NaN
99,"Our paper titled, ""Neural Machine Translation ...",2018-08-19,09:19:12,9,0,NaN
100,Congratulations @midasIIITD @IIITDelhi interns...,2018-08-16,04:30:12,7,3,NaN
101,"Very interesting! We at @midasIIITD, also doin...",2018-08-12,15:07:30,3,1,NaN
102,NLP's ImageNet moment has arrived » https://t....,2018-08-12,04:29:38,2,0,NaN
103,@midasIIITD is looking for motivated IIITD MTe...,2018-08-08,11:30:56,2,1,NaN
104,Check more details of the 20th IEEE Internatio...,2018-08-07,02:05:12,1,1,NaN
105,MR2AMC@ISM 2018 will be organized by @RatnRaji...,2018-08-07,01:58:49,1,1,NaN
106,"Our workshop proposal named, ""MR2AMC: Multimod...",2018-08-07,01:50:33,1,1,NaN
107,Congratulation @soujanyaporia for being appoin...,2018-08-03,05:56:33,6,1,NaN
108,Have a look at the list of accepted papers in ...,2018-07-31,12:11:52,1,0,NaN
109,Get ready for the annual technical fest of @II...,2018-07-27,06:46:44,3,2,NaN
110,Congratulations Dr. @RatnRajiv and team @midas...,2018-07-27,04:07:31,8,2,NaN
111,Congratulations MIDAS @midasIIITD intern Prakh...,2018-07-25,05:14:35,5,1,NaN
112,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2018-07-24,10:33:23,2,1,NaN
113,It feels great to be the part of @IIITDelhi. h...,2018-07-24,10:12:34,2,1,NaN
114,"Thank you, @toonzratn for designing the logo o...",2018-07-24,09:46:26,4,1,1.0
115,We are on Facebook too. Like our page to get o...,2018-07-23,16:25:05,3,1,NaN
116,MIDAS is a group of researchers at IIIT-Delhi ...,2018-07-23,12:53:15,7,4,NaN

## The scripts below are commented out version of the trail code

## The working behind the code

The code below is the one that I executed to make the runnig model of the script. This is the rough version of the code and should not be executed

In [5]:
# import tweepy #https://github.com/tweepy/tweepy
# import csv
# from tweepy import OAuthHandler

In [13]:
# auth = OAuthHandler(auth_params['app_key'], auth_params['app_secret'])
# auth.set_access_token(auth_params['oauth_token'], auth_params['oauth_token_secret'])

In [60]:
# api = tweepy.API(auth, wait_on_rate_limit = True)

In [131]:
# alltweets = []

In [132]:
# tweets = api.user_timeline(screen_name = 'midasIIITD', exclude_replies = True, count = 1)

In [133]:
# alltweets.extend(tweets)

In [134]:
# #save the id of the oldest tweet less one
# oldest = alltweets[-1].id - 1

In [135]:
#  while len(tweets) > 0:
#     tweets = api.user_timeline(screen_name = 'midasIIITD',count=200,max_id=oldest)
#     alltweets.extend(tweets)
#     oldest = alltweets[-1].id - 1

In [136]:
# tweet_data = []

In [137]:
# for tweet in alltweets:
#     if (not tweet.retweeted) and ('RT @' not in tweet.text):
#         if tweet.in_reply_to_status_id is None:
#             try:
#                 count = 0
#                 for medium in tweet.entities['media']:
#                       if medium['type'] == 'photo':
#                           count += 1
                
#                 if(count == 0):
#                       count = None
#             except:
#                 count = None
#             finally:
#                 data = [tweet.text, tweet.created_at.date(), tweet.created_at.time(), tweet.favorite_count, tweet.retweet_count, count]
#                 tweet_data.append(data)

In [138]:
# import numpy as np
# import pandas as pd
# tweet_data = np.array(tweet_data)

In [139]:
# pd.DataFrame(tweet_data, columns=['Text', 'Date', 'Time', 'Favorite Count', 'Retweets Count', 'No of Images'])

,Text,Date,Time,Favorite Count,Retweets Count,No of Images
0,RT @Harvard: Professor Jelani Nelson founded A...,2019-04-09,05:04:27,0,33,None
1,RT @emnlp2019: For anyone interested in submit...,2019-04-09,05:04:11,0,12,None
2,RT @multimediaeval: Announcing the 2019 MediaE...,2019-04-08,19:38:09,0,15,None
3,"Many Congratulations to @midasIIITD student, S...",2019-04-08,07:08:12,13,2,None
4,@midasIIITD thanks all students who have appea...,2019-04-08,03:27:42,5,0,None
5,We request all students whose interview are sc...,2019-04-07,11:43:24,1,1,None
6,"Other queries: ""none of the Tweeter Apis give ...",2019-04-07,06:55:19,5,2,None
7,"Other queries: ""do we have to make two differe...",2019-04-07,06:53:38,4,1,None
8,"Other queries: ""If using Twitter api, it does ...",2019-04-07,05:32:27,6,1,None
9,Response to some queries asked by students on ...,2019-04-07,05:29:40,7,1,None
10,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,2019-04-06,17:11:29,0,2,None
11,We have emailed the task details to all candid...,2019-04-05,16:08:37,11,1,None
12,RT @rfpvjr: Our NAACL paper on polarization in...,2019-04-05,04:05:11,0,16,None
13,RT @kdnuggets: Effective Transfer Learning For...,2019-04-05,04:04:43,0,11,1
14,RT @stanfordnlp: What’s new in @Stanford CS224...,2019-04-03,18:31:53,0,59,None
15,RT @DeepMindAI: Today we're releasing a large-...,2019-04-03,17:04:32,0,870,None
16,RT @ylecun: Congratulations Jitendra Malik !\n...,2019-04-03,09:03:40,0,16,None
17,RT @IIITDelhi: Another chance to take admissio...,2019-04-03,07:46:02,0,4,None
18,Dear @midasIIITD internship candidates who hav...,2019-04-02,04:20:13,8,1,None
19,Looking forward to your paper submission to @I...,2019-04-02,02:44:54,5,1,None
20,RT @ngrams: Reproducibility in multimedia rese...,2019-04-02,02:35:44,0,7,None
21,Online application for https://t.co/DJFDrQsHZP...,2019-04-01,06:53:08,7,2,None
22,RT @ACMMM19: A final reminder of the Reproduci...,2019-03-31,10:21:24,0,10,None
23,RT @isarth23: Thanks for the support and help ...,2019-03-29,19:43:24,0,2,None
24,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,2019-03-29,17:03:29,0,1,None
25,"Congratulations! @midasIIITD team, @isarth23 @...",2019-03-29,17:02:24,9,1,None
26,RT @stanfordnlp: CS224N Natural Language Proce...,2019-03-28,16:55:01,0,718,None
27,RT @ylecun: Learn PyTorch by running on Google...,2019-03-28,16:54:37,0,156,None
28,Dr. Vineeth N Balasubramanian will present a T...,2019-03-27,16:09:09,4,1,None
29,RT @ylecun: I am extremely honored to be the r...,2019-03-27,11:53:40,0,1545,None
...,...,...,...,...,...,...
258,RT @mr2amc: @mr2amc will be organized by Prof ...,2018-08-12,13:11:04,0,2,None
259,RT @mr2amc: Our workshop proposal on Multimoda...,2018-08-12,09:07:16,0,2,None
260,NLP's ImageNet moment has arrived » https://t....,2018-08-12,04:29:38,2,0,None
261,RT @kdnuggets: Ultimate Guide to Getting Start...,2018-08-09,10:17:53,0,111,1
262,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,2018-08-09,05:59:57,0,265,None
263,@midasIIITD is looking for motivated IIITD MTe...,2018-08-08,11:30:56,2,1,None
264,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,2018-08-08,05:45:58,0,1,None
265,RT @kdnuggets: Comparison of Top 6 Python NLP ...,2018-08-07,07:16:33,0,40,1
266,Check more details of the 20th IEEE Internatio...,2018-08-07,02:05:12,1,1,None
267,MR2AMC@ISM 2018 will be organized by @RatnRaji...,2018-08-07,01:58:49,1,1,None
268,"Our workshop proposal named, ""MR2AMC: Multimod...",2018-08-07,01:50:33,1,1,None
269,RT @goodfellow_ian: One of the most anticipate...,2018-08-06,17:46:59,0,103,1
270,Congratulation @soujanyaporia for being appoin...,2018-08-03,05:56:33,6,1,None
271,RT @IIITDelhi: Congratulations @midasIIITD int...,2018-08-01,11:20:07,0,4,None
272,RT @learning_pt: Profile of the 5 Indian under...,2018-08-01,05:06:47,0,4,None
273,Have a look at the list of accepted papers in ...,2018-07-31,12:11:52,1,0,None
274,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,2018-07-31,02:06:26,0,264,None
275,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,2018-07-30,07:30:51,0,2,None
276,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",2018-07-28,11:07:11,0,57,None
277,RT @kdnuggets: .@Bloomberg launches free cours...,2018-07-28,06:14:09,0,105,None
278,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,2018-07-28,06:13:48,0,7,None
279,RT @IIITDelhi: We are delighted to announce th...,2018-07-28,04:08:21,0,6,None
280,Get ready for the annual technical fest of @II...,2018-07-27,06:46:44,3,2,None
281,Congratulations Dr. @RatnRajiv and team @midas...,2018-07-27,04:07:31,8,2,None
282,Congratulations MIDAS @midasIIITD intern Prakh...,2018-07-25,05:14:35,5,1,None
283,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2018-07-24,10:33:23,2,1,None
284,It feels great to be the part of @IIITDelhi. h...,2018-07-24,10:12:34,2,1,None
285,"Thank you, @toonzratn for designing the logo o...",2018-07-24,09:46:26,4,1,1
286,We are on Facebook too. Like our page to get o...,2018-07-23,16:25:05,3,1,None
287,MIDAS is a group of researchers at IIIT-Delhi ...,2018-07-23,12:53:15,7,4,None